set number
set relativenumber
set showmode
set showcmd


Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'
Plug 'dbakker/vim-paragraph-motion'
Plug 'michaeljsmith/vim-indent-object'

"設定前贅詞
let mapleader=','

nmap <Leader>so :source ~/.ideavimrc<CR>

"設定搜尋時高亮顯示
set incsearch
"設定搜尋後高亮顯示
set hlsearch

"清除高亮搜尋
nnoremap <Leader>sc :nohlsearch<CR>
inoremap <Leader>sc <Esc>:nohlsearch<CR>

sethandler <C-F> a:ide
sethandler <C-R> a:ide
sethandler <C-S> a:ide
sethandler <C-U> a:ide
sethandler <C-X> a:vim
sethandler <C-A> a:vim
sethandler <C-C> a:ide
sethandler <C-J> a:ide
sethandler <C-M> a:ide
sethandler <C-N> a:ide
sethandler <C-O> a:ide
sethandler <C-P> a:ide
sethandler <C-V> a:vim
sethandler <C-[> a:ide
sethandler <C-]> a:ide

nmap gc <action>(GotoClass)
nmap gi <action>(ReSharperGotoImplementation)
nmap gd <action>(GotToDeclaration)
nmap gp <action>(GotToSuperMethod)
nmap gt <action>(GotoTest)
nmap gj <action>(Back)
nmap gk <action>(Forward)

"unmap <Tab>
"map <Tab> <action>(EditorIndentSelection)

"開啟輸入法自動切換功能
:set keep-english-in-normal
"回到insert模式時恢復輸入法
:set keep-english-in-normal-and-restore-in-insert 
